.main-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto 300px;

	@media screen and (max-width: 767px) {
		margin-bottom: 140px;
	}
}

.main-info__image {
	flex-shrink: 0;
	margin-right: 40px;
	max-width: 140px;

	@media screen and (max-width: 767px) {
		margin-right: 30px;
		max-width: 100px;
	}
}

.main-info__value {
	font-size: 180px;
	line-height: 1;
	user-select: none;

	@media screen and (max-width: 767px) {
		font-size: 90px;
	}
}

.main-info__description {
	margin: 5px 0 0;
	width: 100%;
	font-size: 25px;
	line-height: 1;
	text-align: center;

	@media screen and (max-width: 767px) {
		margin-top: 10px;
		font-size: 18px;
	}
}
