header(class="page-container__header")
	div(class="current-city")
		div(class="current-city__title") Омск
		button(class="current-city__parameter current-city__parameter--change-city" href="#") Сменить город
		button(class="current-city__parameter current-city__parameter--my-location" href="#") Мое местоположение
	form(class="search-form visually-hidden")
		input(class="search-form__input" type="text" placeholder="Ваш город", required)
		button(class="search-form__button") OK

	form(class="unit-switcher")
		input(class="unit-switcher__radio visually-hidden",
			type="radio", name="unit-switcher", id="celsius", checked)
		label(class="unit-switcher__item unit-switcher__item--celsius" for="celsius") C
		input(class="unit-switcher__radio visually-hidden",
		type="radio", name="unit-switcher", id="fahrenheit")
		label(class="unit-switcher__item unit-switcher__item--fahrenheit" for="fahrenheit") F

main(class="main-info")
	img(class="main-info__image" src="./images/image-default.png")
	div(class="main-info__value")
		span 19
		sup º
	p(class="main-info__description") Преимущественно солнечно

footer(class="footer")
	div(class="factoid")
		label(class="factoid__label") Ветер
		div(class="factoid__value"): <span>5</span> м/c, западный
	div(class="factoid")
		label(class="factoid__label") Давление
		div(class="factoid__value"): <span>752</span> мм рт. ст.
	div(class="factoid")
		label(class="factoid__label") Влажность
		div(class="factoid__value"): <span>60%</span>
	div(class="factoid")
		label(class="factoid__label") Вероятность дождя
		div(class="factoid__value"): <span>10%</span>
