doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" href="./css/main.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap")
	body(class="page-container")
		include pug/main.pug
		script(src="./js/main.js")
