*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	color: #fff;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	margin: -1px;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}
