*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: $font-text;
	font-weight: 400;
	color: $color-white;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	margin: -1px;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}
